
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
![Ll]ib/
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
artifacts/MsDeploy/Orchard.Web.zip
artifacts/Source/Orchard.Source.zip
src/Orchard.Web/App_Data/cache.dat
src/Orchard.Web/App_Data/Sites/*
src/Orchard.Web/Media/Default/RecipeJournal/*

